body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
}

.gridDiv{
    display: flex;
    background-color : white;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.gridDivHover{
    display: flex;
    background-color : red;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.newGridBtn{
    margin-top: 36px;
    margin-bottom: 36px;
}